<div class="flex-1 p-2 sm:p-6 flex flex-col text-left h-full">


  <form #writeWindow class=" flex flex-col rounded-lg  h-full justify-between bg-background space-y-3"
    [formGroup]="form" (ngSubmit)="sendMessage()">

    <div>
      <textarea formControlName="userInput"
        class="flex min-h-[150px]  w-full  rounded-md border border-input bg-transparent px-3 py-2 mb-5 text-sm shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
        autocomplete="off" name="message" placeholder="Write the topic you need to write about ..." (keydown)="onKeydown($event)">

      </textarea>

      <p class="text-sm">🕮 Format: </p>

      <p class="text-sm">🤔 Tone: </p>

      <p class="text-sm">📝 Length: </p>

    </div>

    <button class=" w-full " mat-button>Send</button>

  </form>

</div>