<div class="flex-1 p-2 sm:p-6 flex flex-col justify-between h-full">

    <!-- Header Section -->
    <div class="flex sm:items-center justify-between py-3 border-b-2 border-gray-200">
        <div class="flex items-center space-x-2">
            <!-- Search Button -->
            <button type="button"
                class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none"
                aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
            </button>
            <!-- Heart Button -->
            <button type="button"
                class="inline-flex items-center justify-center rounded-lg border h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none"
                aria-label="Like">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z">
                    </path>
                </svg>
            </button>
        </div>
    </div>


    <div id="messages" #chatWindow
        class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
        <!-- Loop through messages here -->
        <div class="chat-message" *ngFor="let message of messages">
            <div class="flex items-end"
                [ngClass]="{ 'justify-end': message.role === 'user', 'justify-start': message.role !== 'user' }">

                <!-- Left-side icon for bot -->
                <div *ngIf="message.role !== 'user'"
                    class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-100 dark:bg-gray-600">
                    🤖
                </div>

                <!-- Message Bubble -->
                <!-- Chat Bubble -->
                <div class="flex  flex-col space-y-2 text-sm max-w-xs mx-2"
                    [ngClass]="{ 'items-end': message.role === 'user', 'items-start': message.role !== 'user' }">
                    <div class="p-3 rounded-2xl shadow "
                        [ngClass]="message.role === 'user' ? 'bg-blue-600 text-white' : 'bg-gray-100 text-gray-800'">
                        <span class="inline-block text-left">
                            {{ message.content }}
                        </span>
                    </div>
                </div>

                <!-- Right-side icon for user -->
                <div *ngIf="message.role === 'user'"
                    class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-100 dark:bg-gray-600">
                    <mat-icon
                        class="text-sm text-gray-500 transition duration-75 dark:text-gray-400 dark:group-hover:text-white"
                        fontIcon="person">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>


    <form class="relative rounded-lg border bg-background focus-within:ring-1 focus-within:ring-ring" [formGroup]="form"
        (ngSubmit)="sendMessage()">
        <textarea formControlName="userInput"
            class="flex min-h-[60px] w-full rounded-md border border-input bg-transparent px-3 py-2 text-sm shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50"
            autocomplete="off" name="message" placeholder="Your message..." (keydown)="onKeydown($event)">

        </textarea>
        <div class="flex items-center p-3 pt-0">

            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 w-9"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-paperclip size-4">
                    <path
                        d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48">
                    </path>
                </svg><span class="sr-only">Attach file</span>
            </button>

            <button
                class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 w-9"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-mic size-4">
                    <path d="M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z"></path>
                    <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
                    <line x1="12" x2="12" y1="19" y2="22"></line>
                </svg><span class="sr-only">Use Microphone</span>
            </button>

            <button
                class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground shadow hover:bg-primary/90 h-8 rounded-md px-3 text-xs ml-auto gap-1.5"
                [disabled]="form.invalid || form.disabled" type="submit" (click)="sendMessage()">Send Message<svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-corner-down-left size-3.5">
                    <polyline points="9 10 4 15 9 20"></polyline>
                    <path d="M20 4v7a4 4 0 0 1-4 4H4"></path>
                </svg>
            </button>
        </div>

    </form>

</div>