.highligh-color {
  // background-color: #ff00004d ;
  pointer-events: auto;
  color: rgb(0, 0, 0); /* Makes the text invisible */
  text-decoration: underline; /* Adds the underline */
  text-decoration-color: #ff0000ff; /* Sets the underline color */
  text-decoration-thickness: 1.5px; /* Adjusts the thickness of the underline */
  text-decoration-style: solid; /* Ensures a solid line */
  transition:
    text-decoration-color 0.3s,
    text-decoration-thickness 0.3s; /* Smooth transition */
}

.highligh-color:hover {
  background-color: #ff00004d;
}


.mat-menu-panel {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;

}

.mat-menu-content {
  padding: 0 !important;
}


::ng-deep .mat-menu-panel {
  padding: 0 !important; /* Remove all padding around the menu */
}

::ng-deep .mat-menu-content {
  padding: 0 !important; /* Remove padding inside the menu content */
}


.mat-mdc-menu-content {
  padding: 0;
}


.custom-select.mat-mdc-select-panel {
  padding:0;
}
