<!-- <button id="highlighter" (click)="highlightSelection()" [ngStyle]="markerStyle">
    <svg
      class="text-marker"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 544 512"
    >
      <path
        d="M0 479.98L99.92 512l35.45-35.45-67.04-67.04L0 479.98zm124.61-240.01a36.592 36.592 0 0 0-10.79 38.1l13.05 42.83-50.93 50.94 96.23 96.23 50.86-50.86 42.74 13.08c13.73 4.2 28.65-.01 38.15-10.78l35.55-41.64-173.34-173.34-41.52 35.44zm403.31-160.7l-63.2-63.2c-20.49-20.49-53.38-21.52-75.12-2.35L190.55 183.68l169.77 169.78L530.27 154.4c19.18-21.74 18.15-54.63-2.35-75.13z"
      ></path>
    </svg>
  </button>
  <ng-template #highlightTemplate>
    <span class="highlight" [style.background-color]="highlightColor" style="display: inline"></span>
  </ng-template> -->



<!-- <div #tabs class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div> -->


<button class="fixed-button" (click)="toggleMenu()" [ngStyle]="{ display: markerStyle.display === 'none' ? 'block' : 'none' }">
  <!-- <i class="fas fa-arrow-up"></i> -->
  <img style="width: 50px; height: 50px;" src="https://i.ibb.co/C62WQ8N/icon128.png" alt="icon128" border="0">
</button>



<div class="light" [ngStyle]="markerStyle">
  <div style="display: flex; flex-direction: row; justify-content: space-between; background-color: #2e2e2e">
  <div class="tab">
    <button class="tablinks " *ngFor="let tab of tabs; let i = index" (click)="openCity($event, tab.name)"
      [class.active]="activeTab === tab.name">
      {{ tab.label }}
    </button>
  </div>
  <button class="close-btn" (click)="toggleMenu()">&times;</button>

</div>
  <div class="tabcontent" >

    <!-- First tab -->
    <div *ngIf="activeTab === tabs[0].name" id="{{ tabs[0].name }}">
      <div class="suggestions-container max-w-52" id="suggestions">
        <div *ngFor="let sug of suggestion; let i = index" class="suggestion-item">
          <p style="font-size: 0.75rem; line-height: 1rem;"><strong>💡S.{{i+1}} :</strong>{{sug.message}}</p>
          <!-- <button onclick="applySuggestion(1)">Apply</button> -->
        </div>
      </div>
    </div>

    <!-- Second tab -->
    <div *ngIf="activeTab === tabs[1].name" id="{{ tabs[1].name }}">
      <div class="suggestions-container max-w-52" id="suggestions">
        <div class="skill">
          <span class="skill-label">Formal</span>
          <div class="skill-bar-background">
            <div class="skill-bar html" style="width: 90%"></div>
          </div>
          <span class="skill-percentage">90%</span>
        </div>
    
        <div class="skill">
          <span class="skill-label">Friendly</span>
          <div class="skill-bar-background">
            <div class="skill-bar css" style="width: 80%"></div>
          </div>
          <span class="skill-percentage">80%</span>
        </div>

        <div class="skill">
          <span class="skill-label">Simple</span>
          <div class="skill-bar-background">
            <div class="skill-bar js" style="width: 70%"></div>
          </div>
          <span class="skill-percentage">70%</span>
        </div>
    
        <div class="skill">
          <span class="skill-label">Clear</span>
          <div class="skill-bar-background">
            <div class="skill-bar python" style="width: 75%"></div>
          </div>
          <span class="skill-percentage">75%</span>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab === tabs[2].name" id="{{ tabs[2].name }}">
      <deep-chat
      demo="false"
      textInput='ss'
      [history]="history"
    ></deep-chat>      
      
    

  </div>

</div>