
<button class="fixed-button" (click)="toggleMenu()" [ngStyle]="{ display: markerStyle.display === 'none' ? 'block' : 'none' }">
  <!-- <i class="fas fa-arrow-up"></i> -->
  <img style="width: 50px; height: 50px;" src="https://i.ibb.co/C62WQ8N/icon128.png" alt="icon128" border="0">
</button>



<div class="light" [ngStyle]="markerStyle">
  <div style="display: flex; flex-direction: row; justify-content: space-between; background-color: #2e2e2e">
  <div class="tab">
    <button class="tablinks " *ngFor="let tab of tabs; let i = index" (click)="openCity($event, tab.name)"
      [class.active]="activeTab === tab.name">
      {{ tab.label }}
    </button>
  </div>
  <button class="close-btn" (click)="toggleMenu()">&times;</button>

</div>
  <div class="tabcontent" >

    <!-- First tab -->
    <div *ngIf="activeTab === tabs[0].name" id="{{ tabs[0].name }}">
      <div class="suggestions-container max-w-52" id="suggestions">
        <div *ngFor="let sug of suggestion; let i = index" class="suggestion-item">
          <p style="font-size: 0.75rem; line-height: 1rem;"><strong>💡S.{{i+1}} :</strong>{{sug.message}}</p>
          <!-- <button onclick="applySuggestion(1)">Apply</button> -->
        </div>
      </div>
    </div>

    <!-- Second tab -->
    <div *ngIf="activeTab === tabs[1].name" id="{{ tabs[1].name }}">
      <div class="suggestions-container max-w-52" id="suggestions">
        <div class="skill">
          <span class="skill-label">Formal</span>
          <div class="skill-bar-background">
            <div class="skill-bar html" [style.width.%]="languageTone.formal" ></div>
          </div>
          <span class="skill-percentage">{{languageTone.formal}}%</span>
        </div>
    
        <div class="skill">
          <span class="skill-label">Friendly</span>
          <div class="skill-bar-background">
            <div class="skill-bar css" [style.width.%]="languageTone.friendly"></div>
          </div>
          <span class="skill-percentage">{{languageTone.friendly}}%</span>
        </div>

        <div class="skill">
          <span class="skill-label">Simple</span>
          <div class="skill-bar-background">
            <div class="skill-bar js" [style.width.%]="languageTone.simple"></div>
          </div>
          <span class="skill-percentage">{{languageTone.simple}}%</span>
        </div>
    
        <div class="skill">
          <span class="skill-label">Clear</span>
          <div class="skill-bar-background">
            <div class="skill-bar python" [style.width.%]="languageTone.clear"></div>
          </div>
          <span class="skill-percentage">{{languageTone.clear}}%</span>
        </div>
      </div>
    </div>

    <!-- Third tab -->
    <div *ngIf="activeTab === tabs[2].name" id="{{ tabs[2].name }}">
      <deep-chat
      demo="false"
      [history]="history"
    ></deep-chat>      
      
    

  </div>

</div>