<div class="max-w-sm p-0 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

    <div class="flex p-3 flex-row space-x-1 items-end justify-items-start ">

        <img class="mb-3 w-4 h-4" src="assets/images/icon32.png" />
        <!-- <img class="mb-3 w-4 h-4" [src]="getImg('/assets/images/icon32.png')" /> -->

        
        <p class="  text-sm text-gray-500 dark:text-gray-400">
            @if (info){
            {{info!.message}}
            }
            <!-- Spelling Error {{info.message!}} -->
        </p>
    </div>
    <div (click)="doCorrection()" style="cursor: pointer ;"
        class="flex text-wrap text-left justify-center justify-items-center space-x-1 items-center hover:bg-slate-100">
        <p class="underline-text text-wrap">
            @if (info?.replacements){
            {{getOldVal()}}
            }
        </p>
        <mat-icon
            class="text-sm mb-2 text-gray-500 transition duration-75  dark:text-gray-400 dark:group-hover:text-white"
            [fontIcon]="'arrow_forward'">
        </mat-icon>
        <p class="text-green-600">
            @if (info?.replacements){
            {{getNewVal()}}
            }
        </p>
    </div>

</div>