.fab {
    z-index: 500;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #6200ee;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fab:hover {
    background-color: #3700b3;
  }